*{
    box-sizing: border-box;
    margin: 0%;
    width: auto;
    height: auto;
    
    background-size:cover;
    background-attachment: fixed;
}



.navbar {
    position: absolute;
    width: 100%;
    max-height: 15%;
    left: 0px;
    top: 3px;

background: rgba(220, 233, 240, 0.06);

    
}



.navitems{
    align-items: right;
    justify-content: space-between;
    display:flex;
    text-align: right;
    margin-left: 50%;
    margin-top: 1.3%;


}

.navitems li {
    list-style-type:none;
    display:inline-block;
    list-style-type:none;
    text-align: right;
    margin-right: 5%;
    margin-top: 1.5%;

    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.06em;

}



.logo {
    position: absolute;
    width: 68px;
    height: 62px;
    left: 50px;
    top: 5px;
    border-radius: 176px;
}

.title{
    position: absolute;
    width: 606px;
    height: 85px;
    left: -73px;
    top: 20px;

    font-family: 'McLaren', cursive;
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    line-height: 29px;
    text-align: center;
    letter-spacing: 0.245em;

    color: #000000;
}



.navitems li a{
    color: #000000;
    text-decoration: none;

}

.navitems a:hover {
    background-color: #cec5ce; 
  }



.slider {
    width: 100%;
    height: 650px;
    /* position: relative; */
    margin: auto;
    margin-top: 1.5%;
  }

.slide {
  width: 100%;
  height: 100%;
}

  .home_h1{
    position: absolute;
    width: 550px;
    height: 80px;
    top: 163px;
    left: 35%;

    
    font-family: 'Merriweather', serif;
    font-style: normal;
    font-weight: 700;
    font-size: 35px;
    line-height: 80px;
    text-align: center;
    letter-spacing: 0.245em;
    
    color: #000000;
}
  .prev, .next {
    cursor: pointer;
    position: absolute;
    top: 350%;
    width: auto;
    padding: 16px;
    margin-top: -22px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
  }
  
  .next {
    right: 0;
    border-radius: 3px 0 0 3px;
  }
  
  .prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.8);
  }

  .dot-container {
    text-align: center;
  }
  
  .dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
  }
  
  .active, .dot:hover {
    background-color: #717171;
  }
  .fade {
    animation-name: fade;
    animation-duration: 1.5s;
  }

 

.hmdg2{
    position: absolute;
      width: 401px;
      height: 502px;
      left: 136px;
      top: 1124px;

}

.footer1{
    position: absolute;
    display: flex;
    width: 100%;
    height: 280px;
    top: 2220px;

    background: #151E2D;
    backdrop-filter: blur(50px);
}

.footitems li{
    display: flex;
    flex-direction: row;
    align-items:flex-start;
    padding: 20px;
    gap: 397px;
    justify-content: space-between;
    margin-left: 10%;
    margin-right: 10%;


    list-style-type:none;
    display:inline-block;
    list-style-type:none;
    text-align:justify;
    color: #FFFFFF;
    letter-spacing: 0.06em
}

.list-header {
  list-style-type:none;
  display:inline-block;
  list-style-type:none;
  text-align:justify;
  color: #FFFFFF;
  letter-spacing: 0.06em;
  margin-bottom: 5%;
}

.list-item {
  font-family: 'Maitree', serif;
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 21px;
  /* text-align: center; */
  letter-spacing: 0.245em;

  list-style-type:none;
  
  color: #FFFFFF;
}

.list {
  width: 100%;
  margin-left: 14%;
}

.quicklinks{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 25%;
    padding: 15px;
    gap: 13px;

    margin-left: 14%;
    /* margin-right: 9%; */

    font-family: 'Maitree', serif;
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 21px;
    text-align: center;
    letter-spacing: 0.245em;

    list-style-type:none;
    
    color: #FFFFFF;

}

.ourservices{
    display: flex;
    flex-direction: column;
    align-items:flex-start;
    padding: 15px;
    gap: 20px;




    font-family: 'Maitree', serif;
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 21px;
    text-align: center;
    letter-spacing: 0.245em;
    list-style-type:none;
    color: #FFFFFF;


}





.footer2{
    position: absolute;
    width: 100%;
    height: 100px;
    left: 0px;
    top: 2500px;

    background: rgba(27, 27, 27, 0.96);
}

.footer2 p{
    position: absolute;
    font-family: 'Maitree', serif;
    font-style: normal;
    font-weight: 100;
    font-size: 14px;
    line-height: 25px;
    text-align: center;
    letter-spacing: 0.245em;
    left: 38%;
    top:20%;

color: #FFFFFF;
}

.footer2 p a{
    text-decoration: none;
    color:#ffffff;
}

.simg1{
  max-width: 100%;
  margin-top: 1.5%;
  /* height: auto; */
  overflow: hidden;
}

.simg1 img {
  width: 100%;
  /* height: 100%; */
  margin-top: -40%;
}

.simg2{
  max-width: 100%;
  height: auto;
  overflow: hidden;
}

.simg2 img {
  width: 105%;
  height: 100%;
  margin: -10px -5px 0px -10px
}

.imgnsbm{
  position: relative;
  align-items: center;
/* width: 80%; */
/* height: 85px; */
/* left: 252px; */
  margin-top: 10%;

}

.imgnsbm img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  border-radius: 20px;
}

.header2{
  position: absolute;
width:100%;
height: 80px;
left: 0px;
top: 79px;

background: rgba(60, 100, 108, 0.78);
}

.header2 p{
  position: absolute;
  width: 846px;
  height: 25px;
  left: 450px;
  margin-top: 2%;
  color: #FFFFFF;
}

.DonationHeader2{
  position: absolute;
  width: 100%;
  height: 252px;
  left: 3px;
  margin-top:1.5%;
}

.DonationHeader2 img{
  width:100%;
  height:252px;
}